form {
    background-color: #ff8513;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin: 20px;
    border: #ff00aa solid 13px;
    padding: 20px;
    border-radius: 20px;
  }
  
  input[type='submit'] {
    border: rgb(179, 255, 0) 5px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;
  }
  
  input[type='submit']:hover {
    cursor: pointer;
  }
  
  form p {
    margin: -30px 0px 0px -20px;
  }
  
  input[type='text'] {
    background-color: #91ff02;
    border: aqua 5px solid;
    padding: 5px;
    border-radius: 8px;
  }